body {
    background-color: #414141;
}

.game {
    font-size: 1.5em;

}

form {
   font-size: 2em;
}

#list {
    
}

label {
    font-size: 0.6em;
}

.games {
    background-color: #708DA3;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 13px;
    border-radius: 30px;
    border: solid;
    font-size: 1.3em;

}

input, #platform, #digplatform, #completion, #phydig {
    border-radius: 20px;
    margin-bottom: 1.3em;
    margin-top: 0.2em;
    font-size: 0.6em;
    
    
}

fieldset {
    background-color: #708DA3;
    border-radius: 30px;
    border: solid;
    width: 600px;
}

button {
    margin-top: 25px;
    border-radius: 20px;
    font-size: 0.6em;
    height: 1.8em;
    width: 6.4em;
}
    
h1 {
    text-align: center;
    font-style: italic;
    font-size: 2.8em;
    color: #00a2e8;
}

@media screen and (min-width: 480px) {
h1 {
    text-align: center;
    font-style: italic;
    font-size: 4em;
    color: #00a2e8;
    
}

body {
    background-color: #414141;
}

.game {
    font-size: 1.4em;

}

form {
    text-align-last: center;
    font-size: 1em;
    align-content: center;
    
}

label {
    font-size: 1.3em;
}

.games {
    margin: auto;
    background-color: #708DA3;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 13px;
    border-radius: 30px;
    border: solid;
    font-size: 1.3em;
    width: 600px;
    

}

input, #platform, #digplatform, #completion, #phydig {
    border-radius: 20px;
    margin-bottom: 1.3em;
    margin-top: 0.2em;
    font-size: 1.2em;
    
}


fieldset {
    margin: auto;
    background-color: #708DA3;
    border-radius: 30px;
    border: solid;
}

button {
    margin-top: 25px;
    border-radius: 20px;
    font-size: 1em;
    height: 2em;
    width: 5em;
}

}