body {
    display: block;
    background-color: #414141;
}

.game {
    font-size: 1.3em;

}

form {
   font-size: 2em;
}

label {
    font-size: 1.3em;
}

.games {
    background-color: #708DA3;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 13px;
    border-radius: 30px;
    border: solid;
    font-size: 2.3em;

}

input, #platform, #digplatform, #completion, #phydig {
    border-radius: 20px;
    margin-bottom: 1.3em;
    margin-top: 0.2em;
    font-size: 1.2em;
    
    
}

fieldset {
    background-color: #708DA3;
    border-radius: 30px;
    border: solid;
}

button {
    margin-top: 25px;
    border-radius: 20px;
    font-size: 1em;
    height: 2em;
    width: 6em;
}
    
    h1 {
    text-align: center;
    font-style: italic;
    font-size: 6em;
    color: #00a2e8;
    
}

@media screen and (min-width: 480px) {
    h1 {
    text-align: center;
    font-style: italic;
    font-size: 6em;
    color: #00a2e8;
    
}

body {
    background-color: #414141;
}

.game {
    font-size: 0.7em;

}

form {
   font-size: 1em;
    align-content: center;
}

label {
    font-size: 1.3em;
}

.games {
    background-color: #708DA3;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 13px;
    border-radius: 30px;
    border: solid;
    font-size: 2.3em;

}

input, #platform, #digplatform, #completion, #phydig {
    border-radius: 20px;
    margin-bottom: 1.3em;
    margin-top: 0.2em;
    font-size: 1.2em;
    
}


fieldset {
    background-color: #708DA3;
    border-radius: 30px;
    border: solid;
}

button {
    margin-top: 25px;
    border-radius: 20px;
    font-size: 0.5em;
    height: 2em;
    width: 5em;
}

}